<div class="f-content">
    <div class="dock-container">


      <!-- Inicio -->
      <a routerLink="/" class="dock-item-container">
        <span class="dock-tooltip">Inicio</span>
        <div class="dock-item">
          <img src="./images/navigator/home.svg" alt="Inicio">
        </div>
      </a>

      <!-- CASAS -->
      <a routerLink="/casas" class="dock-item-container">
        <span class="dock-tooltip">Casas</span>
        <div class="dock-item">
          <img src="./images/navigator/houses.svg" alt="Casas">
        </div>
      </a>
      
      <!-- Personajes -->
      <a routerLink="/personajes" class="dock-item-container">
        <span class="dock-tooltip">Personajes</span>
        <div class="dock-item">
          <img src="./images/navigator/characters.svg" alt="Personajes">
        </div>
      </a>


        <!-- Libros -->
        <a routerLink="/libros" class="dock-item-container">
            <span class="dock-tooltip">Libros</span>
            <div class="dock-item">
              <img src="./images/navigator/books.svg" alt="Libros">
            </div>
          </a>

      <!-- Series -->
      <!-- <a routerLink="/series" class="dock-item-container">
        <span class="dock-tooltip">Series</span>
        <div class="dock-item">
          <img src="./images/navigator/series.svg" alt="Series">
        </div>
      </a> -->
  
      <!-- Dragones -->
      <!-- <a routerLink="/dragones" class="dock-item-container">
        <span class="dock-tooltip">Dragones</span>
        <div class="dock-item">
          <img src="./images/navigator/dragons.svg" alt="Dragones">
        </div>
      </a> -->

      <!-- Extras -->
      <!-- <a routerLink="/extras" class="dock-item-container">
        <span class="dock-tooltip">Extras</span>
        <div class="dock-item">
          <img src="./images/navigator/crown.svg" alt="Extras">
        </div>
      </a> -->
  
      <!-- Ajustes -->
      <a routerLink="#" class="dock-item-container">
        <span class="dock-tooltip">Ajustes</span>
        <div class="dock-item">
          <img src="./images/navigator/settings.svg" alt="Ajustes">
        </div>
      </a>

      
    </div>
  </div>