<div>
  <header class="page-header">
    <h1>Casas de Westeros</h1>
  </header>

   <div class="card-container">
    @for (casas of houses; track $index) {

      <div class="card">


          <div class="card-header">
            <img src="./images/card-houses/placeholder.svg" alt="imagen cards">
          </div>
    
          <div class="card-body ft-strg ft-lt contenido">
            <section class="head-content">
              <h3>{{ casas.name }}</h3>
            </section>
            <hr>
            <section >
              <p>{{ casas.region }} </p>
            </section>
          </div>


    
          <div class="card-footer ft-lt">
            <button > Ver más</button>
          </div>


      </div>

    }
</div>
