<p class="text-white">home-throne works!</p>


<div class="container mt-5 bg-light">
	
    <div class="row alerta-color ">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 border border-danger" >1</div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 ">2</div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 border border-danger">3</div>
    </div>
    <div class="row alerta-color">
        <div class="col"></div>
    </div>
    <div class="row alerta-color" >
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
    </div>
</div>