.grenze-gotisch-navthrone {
    font-family: "Grenze Gotisch", system-ui;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 4dvh;
  }

  .alerta-color{
    background-color: white;
  }