<div class="parent">

    <div class=" characters casas" routerLink='casas'> 
      <h2>CASAS</h2>
      <img mat-card-image src="/images/app-comp/casas1.webp" alt="Escudo Targaryen">

      <img mat-card-image src="/images/app-comp/casas2.webp" alt="Escudo Stark">

    </div>
    
    <div class="characters" [routerLink]="['/personajes']"> 
      <h2>PERSONAJES</h2>
      <img mat-card-image src="/images/app-comp/daene.webp" alt="Daenerys Targaryen">

      <img mat-card-image src="/images/app-comp/daene2.webp" alt="Daenerys Targaryen zoom">
    </div>


  
    <div class=" characters libros" [routerLink]="['/libros']"> 
    <h2>LIBROS</h2>
    <img mat-card-image src="/images/app-comp/libro1.webp" alt="George RR Martin">

    <img mat-card-image src="/images/app-comp/libro2.webp" alt="Books Game of thrones">
    </div>


  

  <div class=" characters series" [routerLink]="['/series']"> 
    <h2>SERIES</h2>
    <img mat-card-image src="/images/app-comp/series1.webp" alt="Rhaenyra Targaryen">

    <img mat-card-image src="/images/app-comp/series2.webp" alt="John Snow">

  </div>


  <div class=" characters dragones"  [routerLink]="['/dragones']"> 
    <h2>DRAGONES</h2>
    <img mat-card-image src="/images/app-comp/dragon2.webp" alt="Bruma (Seasmoke) dragon casa del dragon">

    <img mat-card-image src="/images/app-comp/dragon1.webp" alt="Drogon juego de tronos">

  </div>



  <div class=" characters extras" [routerLink]="['/extras']"> 
    <h2>EXTRAS</h2>
    <img mat-card-image src="/images/app-comp/extra1.webp" alt="Corona">

    <img mat-card-image src="/images/app-comp/extra2.webp" alt="Cersei">

  </div>

</div>