body{
    background-image: url('/root/bg.webp'), linear-gradient(to bottom, #000, #000000b9);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

